/* .one {
  background-color: blue;
  grid-row: 1;
  grid-column: 1;
  height: 25vh;
  transform: skewY(-5deg);
  overflow: hidden;
} */

.one {
  background: url(https://i.imgur.com/RnMf8Xj.png);
  background-attachment: fixed;
  background-position: center -3vh;
  background-repeat: no-repeat;
  background-size: 100vh;
  background-color: rgb(253, 244, 0);
  grid-row: 2;
  grid-column: 1;
  height: 60vh;
  transform: skewY(-5deg);
  overflow: hidden;
}

.three {
  background-color: blue;
  grid-row: 3;
  grid-column: 1;
  height: 25vh;
  transform: skewY(-5deg);
  overflow: hidden;
}

.four {
  background: url(https://i.imgur.com/wnepJdy.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(253, 244, 0);
  grid-row: 4;
  grid-column: 1;
  height: 50vh;
  transform: skewY(-5deg);
  overflow: hidden;
}

.five {
  background-color: rgb(132, 16, 130);
  grid-row: 5;
  grid-column: 1;
  height: auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
  transform: skewY(-5deg);
  overflow: hidden;
}

.six {
  background-color: orange;
  background: url(https://i.imgur.com/ARfFzcb.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 6;
  grid-column: 1;
  height: 50vh;
  transform: skewY(-5deg);
  overflow: hidden;
}

.seven {
  background-color: rgb(253, 244, 0);
  grid-row: 7;
  grid-column: 1;
  height: auto;
  transform: skewY(-5deg);
  overflow: hidden;
}

.eight {
  background-color: rgb(177, 214, 83);
  grid-row: 8;
  grid-column: 1;
  height: 25vh;
  transform: skewY(-5deg);
  overflow: hidden;
}

.nine {
  background: url(https://i.imgur.com/8vjH1Ih.png) no-repeat center center fixed;
  grid-row: 9;
  grid-column: 1;
  height: 25vh;
  transform: skewY(-5deg);
  overflow: hidden;
}

.ten {
  background-color: blue;
  grid-row: 10;
  grid-column: 1;
  height: 25vh;
  transform: skewY(-5deg);
  overflow: hidden;
}

.eleven {
  background-color: red;
  grid-row: 10;
  grid-column: 1;
  height: 25vh;
  transform: skewY(-5deg);
  overflow: hidden;
}
